* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container {
	@include outer-container;

	@include media($desktop) {
		padding: 0 5%;	
	}

	@include media($tablet) {
		padding: 0 5%;
	}
}

.placeholder {
	height: 500px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -15%, 0);
    transform: translate3d(0, -15%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}