.explainer {
	background-color: $color-secondary;
	margin-top: -125px;
	padding: 185px 12.5% 40px 12.5%;
	text-align: center;

	@include media($tablet) {
		margin-top: -100px;
	}

	@include media($mobile) {
		margin-top: -60px;
	}

	.quote {
		font-family: $font-secondary;
		color: #BEE1E6;
		font-size: em(140);

		&.open {
			margin-bottom: -110px;

			@include media($tablet) {
				margin-top: -60px;
			}

			@include media($mobile) {
				margin-top: -100px;
			}
		}

		&.close {
			margin-top: -40px;
			margin-bottom: -40px;

			@include media($tablet) {
				margin-bottom: -70px;
			}

			@include media($mobile) {
				margin-top: -40px;
			}
		}
	}
}
