.venues {
	padding: 120px 0;

	@include media($mobile) {
		padding: 40px 0;
	}

	.tabs-stacked {
		@include span-columns(4);
		@include shift(1);
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;

		@include media($tablet) {
			@include span-columns(5);
			@include shift(0);
		}

		@include media($mobile) {
			@include span-columns(16);
		}

		li {
			list-style-type: none;
	    	padding: 20px 10px;
			border: 2px solid #BEE1E6;
			height: 60px;
			width: 100%;
			display: inline-block;
			font-size: em(16);
			line-height: em(20);
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
		}

		a {
			display: block;
			width: 100%;
			margin-bottom: 20px;

			@include media($mobile) {
				margin-bottom: 10px;
			}

			&:hover {
				background: $color-secondary;
				color: $color-dark;
			}

			&.active {
				background: $color-secondary;
			}
		}
	}	

	.tabs-content {
		@include span-columns(10);
		@include shift(1);

		@include media($tablet) {
			// @include shift(0);
		}

		@include media($mobile) {
			@include span-columns(16);
			@include shift(0);
			padding-top: 20px;
		}

		h1 {
			@include span-columns(14);
			// text-align: center;
			margin-top: 0;
			position: relative;
			background: #fff;
			z-index: 1;
			margin-bottom: 4%;

			&:before {
			        border-top: 2px solid $color-secondary;
			        content:"";
			        margin: 0 auto; /* this centers the line to the full width specified */
			        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
			        top: 50%; left: 0; right: 0; bottom: 0;
			        width: 100%;
			        z-index: -1;
			    }

		    span { 
		        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
		        background: #fff; 
		        padding-right: 5%;
		        // margin-left: 20px;
		        // padding: 0 20px;
		    }
		    
		    @include media($tablet) {
		    	@include span-columns(16);
		    }
		}

		.content {
			@include span-columns(14);

			@include media($tablet) {
				@include span-columns(16);
			}

			img {
				@include span-columns(16);
				margin-bottom: 5%;
				margin-top: 2%;
				// float: right;
			}

			.img-right {
				@include span-columns(8);
				float: left;
				margin-right: 15px;
			}
		}
	}
}