.weekdays {
	padding: 120px 0 60px 0;

	@include media($mobile) {
		padding: 60px 0;
	}

	.weekday {
		@include span-columns(4);
		margin-bottom: 60px;

		@include media($tablet) {
			@include span-columns(6);
			@include omega(2n);
		}

		@include media($mobile) {
			@include span-columns(12);
		}

		img {
			width: 100%;
			padding: 5%;
			border: 2px solid $color-secondary;
		}

		&:last-child {
			margin-bottom: 0;
		}

		.weekday-content {
			padding: 0 5%;

			button {
				margin-top: 15px;
			}
		}
	}
}